form {
    padding: 1em;
    text-align: center;
    background-color:  rgba(255,255,255,0.42);
}

.registerForm {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.form-div {
    width: fit-content;
    text-align: center;
    margin: 0.8em auto auto;
}

.form-div > label {
    display: block;
}

.form-div > input {
    border: none;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.42);
    padding: 4px;
}

.error {
    font-size: 16px;
    display: block;
    color: red;
}

.confirm {
    padding: 8px;
    background-color: #32a232;
    border: none;
    border-radius: 10px;
    margin-top: .8em;
    margin-left: .4em;
}

.download {
    padding: 8px;
    background-color: #3266a2;
    border: none;
    border-radius: 10px;
    margin-top: .8em;
    margin-left: .4em;
}