canvas {
    image-rendering: optimizeSpeed;             /* Older versions of FF          */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated;                 /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

canvas.hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

#skinComposer {
    display: flex;
}

.left-column img {
    width: 64px;
}

.left-column ul {
    list-style: none;
}

.left-column ul {
    padding-left: 0;
}

.left-column ul ul {
    display: none;
    padding-left: 15px;
}

.directory-label {
    padding-left: 32px;
    background-image: url('/public/assets/folder-icon.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 21px;
    margin-bottom: 12px;
    cursor: pointer;
    display: block;
}

.left-column, .right-column {
    width: 30%;
    display: flex;
}

.central-column {
    width: 40%;
    text-align: center;
}

.layers-container ul {
    padding-left: 0;
    list-style: none;
    width: 100%;
}

.layers-container li {
    padding: 15px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    position: relative;
    margin-bottom: 15px;
}

.layers-container {
    padding-left: 15px;
    border-left: 1px solid rgba(0,0,0,0.14);
    width: 100%;
}

.left-column {
    border-right: 1px solid rgba(0,0,0,0.14);
}

.left-column > ul {
    max-height: 600px;
    overflow-y: auto;
    width: 100%;
}

.part-wrapper img {
    vertical-align: middle;
}

.part-infos {
    display: inline-block;
    vertical-align: middle;
}

.choosed-part-label {
    display: block;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.delete-part {
    font-size: 0;
    height: 24px;
    width: 24px;
    background-image: url('/public/assets/delete.png');
    background-repeat: no-repeat;
    background-size: 24px;
    display: inline-block;
    position: absolute;
    right: 14px;
    bottom: 15px;
}

.pickr {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
    border: 1px solid #ccc;
    position: absolute;
    right: 15px;
    top: 15px;
    height: 1.2rem;
    width: 1.2rem;
}

.pickr .pcr-button {
    height: 1.2rem;
    width: 1.2rem;
    padding: 0;
}

.add-part {
    margin-left: 5px;
    display: inline-block;
    padding: 5px;
    text-align: center;
    width: 24px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    border-radius: 3px;
    color: #fff!important;
    text-decoration: none;
    background-color: #e0bf35;
}

@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');

:root{
    --color-alpha: #3e3f57;
}

section>div:nth-child(2){
    background-image : url("https://i.ibb.co/z6JyG3v/2024-02-11-18-38-27.png");
    background-position: top;
    background-size: cover;
}

#skinComposer {
    height: 100vh !important;
    color: white;
    font-weight:bold;
    text-transform: uppercase;
    font-family: "Caesar Dressing", system-ui;
    font-weight: 400;
    letter-spacing:3px;
    font-style: normal;
    /* background: radial-gradient(var(--color-alpha), #000); */
    backdrop-filter: blur(10px);
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    -webkit-box-shadow: 0px -6px 24px 11px #0f0f15, inset 0px 0px 29px 4px #0F0F15;
    box-shadow: 0px -10px 24px 20px #0f0f15, inset 0px 0px 29px 4px #0F0F15;
    border-top: 2px solid var(--color-alpha);
    border-bottom: 2px solid var(--color-alpha);
}
#skinComposer div {
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.left-column ul{
    padding: 2em;
    width: 90%;
    max-height: unset;
    height: 94%;
    background-color: rgba(0,0,0,0.5);
}


.left-column>ul{
    border: 12px solid var(--color-alpha);
    outline: 6px solid black;
    outline-offset: -9px;
    position: relative;

    -webkit-box-shadow: 0px 0px 29px 4px #0F0F15;
    box-shadow:  0px 0px 29px 4px #0F0F15;
}

.left-column>ul>li{
    justify-content: center;
    align-items:start;
    flex-direction: column;
    width: 112%;
}

.left-column ul ul{
    padding: 25px;
    margin: 10px !important;
    justify-content: center;
    align-items:start;
    flex-direction: column;
}

li.file{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 98%;
    margin: 5px;
    margin-top: 15px;
}

.right-column{
    display: unset !important;
    overflow-y: scroll !important;
    width:20% !important;
}

.layers-container{
    padding-top: 13px;
    padding-right: 13px;
    overflow-y: scroll !important;
    border: unset !important;
}

.left-column{
    width:30% !important;
    border: unset !important;
}

.central-column{
    width: 45%;
}

.choosed-part-label{
    max-width: 250px;
}

.right-column img{
    margin: 0 auto;
}

.right-column li{
    transition: transform 0.2s, background-color .2s;
    background-color: rgba(0,0,0,0.5);
    border: 12px solid var(--color-alpha);
    outline: 6px solid black;
    outline-offset: -9px;
}

.right-column li:hover{
    transform: translateX(-15px);
    background-color: rgba(0,0,0,0.75);
}

.delete-part{
    background-image: url("https://cdn-icons-png.flaticon.com/512/6861/6861362.png");
    opacity: 0.3;
    transition: opacity .2s;
}

.right-column li:hover .delete-part{
    opacity: 0.6;
}

.file span{
    display: block;
    max-width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Buttons */

/* .confirm, .download {
    padding: 10px 20px;
    background-color: #795649;
    color: #f4e5c3;
    border: 2px solid #c0a080;
    font-size: 18px;
    text-shadow: 1px 1px 0px #a67c52;
    box-shadow: 2px 2px 0px #a67c52;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    filter: contrast(200%) grayscale() brightness(60%);
}

.confirm:hover, .download:hover {
    background-color: #4d372f;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
}

.confirm:active, .download:active {
    box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
    transform: translateY(2px);
} */

.central-column .confirm, .central-column .download {
    width: 275px;
    height : 73px;
    background: unset;
    background-image : url("https://i.ibb.co/BcnP3gs/bbb.png");
    line-height:55px;
    font-size:20px;
    color: #fefeff;
    background-position : center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;

    filter: contrast(150%)  brightness(80%) drop-shadow(0px 0px 15px rgb(36 36 56 ));


    transform : scale(0.85);

    transition: transform .2s, opacity .2s;
    opacity: .3;
}

.central-column .confirm:hover, .central-column .download:hover{
    opacity: 1;
}

.central-column .confirm:active, .central-column .download:active{
    transform : scale(0.8);
    opacity: 1;
}
