{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block body %}
    <section id="mainsection" style="background-image: url('{{ asset('assets/img/trailer_image.png') }}')"
             class="flex flex-col justify-center items-center text-white">
        <div class="text-center" style="width: 80%;">
            <h1 data-aos="zoom-in" data-aos-delay="50" class="text-6xl font-extrabold">Bienvenue <?php echo($pseudo)?>
                sur Viking Roleplay</h1>
            <div data-aos="zoom-in" data-aos-delay="100" class="italic mt-4">
                <p>
                    Plongez dans l'univers épique des Vikings avec notre serveur Roleplay dédié. Explorez des terres
                    vastes et mystérieuses, commercez avec d'autres joueurs, et forgez votre propre destin en tant que
                    fier Viking. Que vous soyez un guerrier intrépide ou un commerçant rusé, notre serveur offre une
                    expérience immersive unique.
                </p>
                <p>
                    Rejoignez-nous et embarquez pour une aventure extraordinaire au cœur de l'âge des Vikings.
                </p>
            </div>
        </div>
        <div data-aos="zoom-in" data-aos-delay="150" class="uppercase flex mt-12" style="font-size: 1.2em;">
            <div class="mx-6 font-extrabold px-6 py-2 items-center flex"
                 style="background-color: #ffffff20; border: 1px solid rgb(60, 60, 65);">
                <i style="padding-right: 10px;" class="fa-solid fa-circle-info"></i>
                <a href="#">en savoir plus</a>
            </div>
            <div class="mx-6 font-extrabold py-2 px-6 items-center flex"
                 style="background-color: #e19f2750; border: 1px solid rgb(60, 60, 65); padding-right: 20px; padding-left:10px">
                <img class="w-10" src="{{ asset('assets/img/logo.gif') }}" alt="logo animated"/>
                <a href="#">Nous rejoindre</a>
            </div>
        </div>
        <a onclick="scrollToPatchSection()"><i style="opacity: 30%;"
                                               class="fa-solid show-resp fa-chevron-down fa-bounce text-4xl mt-24"></i></a>
    </section>


    <section id="trailer-section" style="background-color:#060606; height:55vh" class="items-center flex p-2">
        <div class="flex justify-center items-center">
            <div class="flex flex-wrap justify-center items-center">
                <div id="text-center" data-aos="zoom-in" class="p-4" style="width: 50%;">
                    <h1 id="text-trailer" class="text-8xl mb-2 italic"
                        style="-webkit-text-stroke: 2px #ffffff50 ;text-shadow: 0 0 30px rgba(255, 204, 0, 0.6); background: linear-gradient(#ffe98d, #e19f27); -webkit-background-clip:text; -webkit-text-fill-color: transparent">
                        TRAILER</h1>
                    <p class="text-2xl text-white">Découvrez l'épopée qui vous attend sur notre serveur Minecraft viking épique !
                        Plongez au cœur d'un monde rempli de mystères, de conquêtes et de légendes. Notre trailer
                        captivant vous transporte à travers des paysages majestueux, des batailles épiques et des
                        constructions impressionnantes !</p>
                </div>
                <div data-aos="zoom-in" class="rounded-lg p-4 flex flex-col items-center">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/wbxIk1bI-mc?si=a0hhzOUdGL--UPKb" title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>

    <!-- path note section !-->
    <section class="flex flex-col items-center justify-center text-center bg-cover patchnote" id="patch"
             style="height:110vh; background-image: linear-gradient(to bottom, #060606, #06060680), url({{ asset('assets/img/bg/2.png') }}); background-repeat:no-repeat; margin: auto;">

        <div data-aos="zoom-in" class="flex flex-col items-center mx-auto text-center" style="width: 42%;">
            <h1 class="text-8xl italic p-3"
                style="-webkit-text-stroke: 2px #ffffff50 ;text-shadow: 0 0 30px rgba(255, 204, 0, 0.6); background: linear-gradient(#ffe98d, #e19f27); -webkit-background-clip:text; -webkit-text-fill-color: transparent">
                NOTES DE PATCH</h1>
        </div>
        <div data-aos="zoom-in" class="mb-12 text-2xl " style="width: 80%;">
            <p>
                Ne manquez aucune des dernières actualités de notre serveur Minecraft RP en suivant les notes de patch
                quotidiennes ici. Embarquez pour des aventures épiques au cœur de notre monde viking !
            </p>
        </div>

        <div class="flex flex-col items-center text-left " style="width:80%;">
            <div data-aos="zoom-in" class="flex my-4 flex-wrap justify-center">
                <div class="mx-8">
                    <img style="height: 16vh; " src="{{ asset('assets/img/patch/patch1.png') }}" alt="VikingRP">
                    <h1 class="font-bold">Notes de patch 13.22</h1>
                    <p class="italic">09/11/2023</p>
                </div>
                <a href="">Voir plus</a>
            </div>
        </div>
    </section>

{% endblock %}