{% extends 'base.html.twig' %}

{% block title %}Espace membre{% endblock %}

{% block body %}
<section style="background: linear-gradient(to bottom, #0B0B0B50, #0B0B0B), url({{ asset('assets/img/bg/6.png') }}); background-size:cover;height: 95vh;" id="main">
    <div style="backdrop-filter: blur(5px); height:95vh"  class="flex justify-evenly items-center">
        
        <div style="background-color: #0B0B0B99; border: 1px solid rgb(60, 60, 65);">
            <canvas style="width: 100px;" id="skin_container"></canvas>
        </div>

    </div>


</section>
{% endblock %}