{% extends 'base.html.twig' %}

{% block title %}Espace membre{% endblock %}

{% block body %}
<section style="background: linear-gradient(to bottom, #0B0B0B50, #0B0B0B), url({{ asset('assets/img/bg/6.png') }}); background-size:cover;height: 95vh;" id="main">
    <div id="profile">
        <form onsubmit="">
            <div class="form-div">
                <label for="email">Adresse E-mail</label>
                <input type="email" value="{{ app.user.mail }}" id="email">
            </div>
            <div class="form-div">
                <label for="username">Nom d'utilisaeur</label>
                <input type="text" id="username" name="username" value="{{ app.user.username }}">
            </div>
            <div class="form-div">

            </div>
        </form>
    </div>
    <div id="skin">
        ici on affiche le skin
    </div>
</section>
{% endblock %}